PUBMED_API_KEY=
GEMINI_API_KEY=
ZOTERO_API_KEY=
ZOTERO_USER_ID=
ZOTERO_COLLECTION_ID=
SENDER_EMAIL=
SENDER_PASSWORD=
RECEIVER_EMAIL=
GDRIVE_CLIENT_ID=
GDRIVE_CLIENT_SECRET=
GDRIVE_REFRESH_TOKEN=
GDRIVE_FOLDER_ID=
